# The Effects of the Coronavirus on the NYC Taxi Industry

The goal of this project is to answer a number of questions about the effects of the coronavirus on travel by taxi in NYC.

# Import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, date
import warnings

warnings.filterwarnings("ignore")

In [2]:
taxi_zone = pd.read_csv('C:\\Users\\15164\\Downloads\\taxi+_zone_lookup.csv')

In [3]:
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
taxi_zone['Zone'].value_counts()

Governor's Island/Ellis Island/Liberty Island    3
Corona                                           2
World Trade Center                               1
Marine Park/Mill Basin                           1
Newark Airport                                   1
                                                ..
Highbridge                                       1
Central Harlem North                             1
Bensonhurst West                                 1
Heartland Village/Todt Hill                      1
NV                                               1
Name: Zone, Length: 261, dtype: int64

In [6]:
taxi_zone['LocationID']

0        1
1        2
2        3
3        4
4        5
      ...
260    261
261    262
262    263
263    264
264    265
Name: LocationID, Length: 265, dtype: int64